nav p {
    color: white; /* Define a cor do texto como branco */
}
main {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 90vh; /* Altura do main para centralização vertical */
    font-family: Arial;
    font-size: 20px
}
form {
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center; /* Centraliza os elementos dentro do form */
    padding: 80px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial;
}
label {
    margin-bottom: 10px; /* Distância entre o rótulo e a caixa de entrada */
}
input {
    margin-bottom: 20px; /* Aumento da distância entre as caixas de entrada */
    padding: 10px;
    width: 90%;
    max-width: 300px;
}
button {
    padding: 10px 20px;
}


